<h1><%= @album.name %></h1>

<p><%= link_to 'Upload new photo', new_album_image_path(@album) %></p>

<% @album.images.each do |image| %>
  <%= link_to [@album, image] do %>
    <%= image_tag image.file.url(:thumb) %>
  <% end %>
<% end %>
