<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @students.name %></h1>
    <p>
      Sample mail sent to remind you that keep it up.
    </p>
  </body>
</html>
